/* Debugger */
.* {
  border: 1px solid red;
}

hr {
  position: absolute;
  height: 98vh;
}

/* Font */
body {
  font-family: "Montserrat", sans-serif;
}

/* City page */
.main-page-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  min-height: 98.2vh;
}

.return {
  margin-right: 85vw;
  font-size: 22px;
}

.return a {
  text-decoration: none;
  color: #000000;
}

.return p {
  background-color: #ecebeb;
  padding: 5px;
  transition: 0.3s;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.25));
}

.return p:hover {
  transform: scale(1.2);
}

/* Card */
.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  color: #000000;
  text-decoration: none;
}

.title {
  margin-top: 5vh;
}

.title h1 {
  font-weight: 400;
}

.card-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.7vw;
  background-color: #ffffff;
  height: 350px;
  width: 300px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  background-color: #008040;
}

.card:hover path {
  fill: #ffffff;
}

.card:hover .text {
  color: #ffffff;
}

.card:hover .see-more p {
  color: #ffffff;
}

.card:hover .see-more #arrow {
  color: #ffffff;
}

.card-image {
  width: 100px;
  display: flex;
  justify-content: center;
}

.card-image path {
  fill: #008040;
}

.text {
  width: 88%;
  transition: 0.3s;
}

.card-title h2 {
  font-weight: 500;
  margin: 0;
}

.card-text p {
  font-size: 15px;
}

.see-more {
  transition: 0.3s;
  width: 88%;
}

.see-more p {
  color: #000000;
  font-size: 13px;
}

#arrow {
  color: #008040;
}

.create {
  margin-left: 85vw;
  font-size: 22px;
}

.create a {
  text-decoration: none;
  color: #000000;
}

.create p {
  background-color: #ecebeb;
  padding: 5px;
  transition: 0.3s;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.25));
}

.create p:hover {
  transform: scale(1.2);
}

/* Info page */
.text-info h3,
.text-info p,
.text-info button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 26px;
}

.submit-info h3 {
  font-size: 26px;
  font-weight: 400;
}

.main-info {
  display: flex;
  flex-direction: column;
  height: 98vh;
}

.info-page {
  display: flex;
  align-items: center;
}

.info-page h2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.info-page img {
  width: 100px;
}

.logo-text a {
  text-decoration: none;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.primary-card-info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 60vh;
  background-color: #ffffff77;
  border-radius: 15px;
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.25);
}

.text-info {
  width: 80%;
  height: 100%;
  text-align: justify;
  align-content: space-around;
}

strong {
  font-weight: 550;
}

.submit-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-info h3 {
  width: 50%;
}

.submit-info button {
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  width: 350px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  box-shadow: inset -3px 3px 10px rgba(0, 0, 0, 0.25);
}

.submit-info button:hover {
  background-color: #eeeeee;
  transform: scale(1.1);
}

.submit-info button a {
  text-decoration: none;
  color: #000000;
}

/* Login */
.main-login {
  display: flex;
  flex-direction: column;
  height: 98vh;
}

.initial-page {
  display: flex;
  align-items: center;
}

.initial-page h2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}

.initial-page img {
  width: 6vw;
}

.card-principal-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.card-login {
  overflow: hidden;
  display: flex;
  justify-content: end;
  width: 70vw;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.25);
}

.title-login {
  margin-bottom: 60px;
}

.half1 {
  width: 45%;
  align-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  gap: 10px;
  max-width: 350px;
  border-radius: 20px;
  position: relative;
  border: none;
}

.form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset -3px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.form label img {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 90%;
  padding: 25px 0 5px 20px;
  font-size: 17px;
  font-family: "Montserrat";
  background-color: #ffffff00;
  border: none;
  outline: none;
}

.form label .input + span {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  cursor: text;
  transition: 0.3s ease;
  margin-left: 10px;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 1.1em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: rgba(0, 0, 0, 0.5);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.password-label {
  position: absolute;
  width: 100%;
}

.enter-button button {
  background-color: #f8c401;
  margin-top: 60px;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  width: 82%;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.enter-button button:hover {
  background-color: #ffc800;
  transform: scale(1.1);
}

.forgot-pass {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 13px;
  margin: 0;
}

#account {
  margin: 0px;
}

.half2 {
  width: 50%;
}

.grey-logo {
  margin-top: 70px;
  width: 700px;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 1681px) and (max-width: 1920px) {
  .grey-logo {
    margin-top: 80px;
  }
}

/* Map */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  height: 98.3vh;
  color: #ffffff;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.map-title {
  margin-bottom: 50px;
  margin-top: 50px;
}

path {
  stroke: #ffffff;
  stroke-width: 0.5px;
}

.map h1 {
  font-family: "Montserrat";
  font-weight: 400;
}

.map text {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 500;
}

#Jaragua,
#Corupa,
#Schroeder,
#Itaperiu,
#Barra,
#Guaramirim,
#Massaranduba {
  fill: #ffffff1c;
  transition: 0.3s;
}

#Jaragua:hover {
  fill: #86c126;
  stroke-width: 0;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.25));
}

#Itaperiu:hover {
  fill: #f8931f;
  stroke-width: 0;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.25));
}

#Barra:hover {
  fill: #005198;
  stroke-width: 0;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.25));
}

#Guaramirim:hover {
  fill: #1480c0;
  stroke-width: 0;
  filter: drop-shadow(4px -4px 3px rgba(0, 0, 0, 0.25));
}

#Corupa:hover {
  fill: #f8c401;
  stroke-width: 0;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.25));
}

#Schroeder:hover {
  fill: #01923f;
  stroke-width: 0;
  filter: drop-shadow(4px -4px 3px rgba(0, 0, 0, 0.25));
}

#Massaranduba:hover {
  fill: #e62e2e;
  stroke-width: 0;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.25));
}

text {
  fill: #ffffff;
}

@media screen and (max-width: 1000px) {
  .main-page {
    height: 97.9vh;
  }

  .map-title {
    margin-top: -20px;
  }

  svg {
    width: 50vw;
  }
}

/* Navbar */
.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-black {
  width: 97vw;
  display: flex;
  justify-content: center;
}

.navbar-black a {
  color: #000000;
  text-decoration: none;
}

.navbar-black h1 {
  font-size: 35px;
  font-weight: 700;
}

.identity {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.navbar-black h2 {
  font-weight: 400;
}

.navbar {
  width: 97vw;
  display: flex;
  justify-content: center;
}

.navbar h1 {
  font-size: 35px;
  font-weight: 700;
}

.navbar h2 {
  font-weight: 400;
}

.content-nav {
  width: 92vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.content-nav #login {
  width: 35px;
}

.content-nav #white-logo {
  width: 80px;
}

.logo-dash {
  display: flex;
  align-items: center;
}

#dash {
  margin-left: 10px;
  transition: 0.3s;
}

#dash:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.identity h1 {
  text-decoration: none;
}

.identity img {
  margin-left: 10px;
}

/* Footer */
footer {
  display: flex;
  width: 98vw;
  height: 10vh;
}

footer img {
  width: 7.3vw;
  margin-right: 100px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer p {
  margin-right: 100px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
}

/* Criar Planos */
.main-page-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  min-height: 98.2vh;
}

/* Tabs */
.tab-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 4px 40px 5px rgba(0, 0, 0, 0.3);
}

.panel h1 {
  justify-content: center;
  font-size: 36px;
}

.panel p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}

.tabs {
  max-width: 1065px;
  background: #e5e5e5;
}

.input-tab {
  position: absolute;
  opacity: 0;
}

.label-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 100%;
  padding: 20px 35px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}

.label-tab:hover {
  background: #d8d8d8;
}

.label-tab:active {
  background: #ccc;
}

.input-tab:focus + .label-tab {
  z-index: 1;
}

.input-tab:checked + .label-tab {
  background: #fff;
  color: #000;
}

@media (min-width: 600px) {
  .label-tab {
    width: auto;
  }
}

.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input-tab:checked + .label-tab + .panel {
  display: block;
}

.tab-principals {
  display: flex;
  justify-content: space-between;
}

.tab-principals .date {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: inset -4px 4px 10px rgba(0, 0, 0, 0.25);
}

.tab-plan-name {
  width: 450px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: inset -4px 4px 10px rgba(0, 0, 0, 0.25);
  resize: none;
  font-family: "Montserrat";
  font-size: 20px;
}

.tab-plan-tittle {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: inset -4px 4px 10px rgba(0, 0, 0, 0.25);
  resize: none;
  font-family: "Montserrat";
  font-size: 20px;
}

.tab-plan {
  width: 1000px;
  height: 200px;
  border-radius: 5px;
  border: none;
  box-shadow: inset -4px 4px 10px rgba(0, 0, 0, 0.25);
  resize: none;
  font-family: "Montserrat";
  font-size: 20px;
}

.tab-plan-name:focus {
  outline: none;
}

.tab-plan-tittle:focus {
  outline: none;
}

.tab-plan:focus {
  outline: none;
}

/* Dropdown */
.dropdown {
  font-family: "Montserrat";
  width: 250px;
  height: 30px;
  font-size: 16px;
  border: none;
  box-shadow: inset -4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.dropdown:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-top: 50px;
}

input[type="text"] {
  width: 250px;
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
}

input:focus {
  outline: 1.5px solid #00801a;
}

.dropdown-img{
  margin-left: 70px;
}

.delete-btn {
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  background-color: #ffffff;
  border: 1.5px solid #ff0000;
  border-radius: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.delete-btn:hover {
  color: #ffffff;
  background-color: #ff0000;
}

.add-btn {
  display: flex;
  width: 185px;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #00801a;
  background-color: #ffffff;
  border: 1.5px solid #00801a;
  border-radius: 5px;
  padding: 6px 20px;
  margin-top: 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.add-btn:hover {
  color: #ffffff;
  background-color: #00801a;
}

/* Para celular */
@media screen and (max-width: 600px) {
  .navbar a {
    font-family: "Montserrat";
    color: #ffffff;
    text-decoration: none;
  }

  .navbar {
    width: 97vw;
    display: flex;
    justify-content: center;
  }

  .navbar:hover {
    opacity: 1;
  }

  .navbar h1 {
    font-size: 10px; /* Reduzindo ainda mais o tamanho do texto */
    font-family: "Montserrat";
    font-weight: 600;
  }

  .navbar h2 {
    font-family: "Montserrat";
    font-weight: 500;
  }

  .navbar:hover {
    opacity: 1;
  }

  .content-nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .content-nav #avatar {
    width: 20px;
  }

  .content-nav #white-logo {
    width: 30px;
    padding-right: 20px;
  }

  #dash {
    margin-left: 1px;
    font-size: 12px;
  }

  .identity h1 {
    margin-right: 0.5vw; /* Ajustando a margem */
  }

  #dash:hover {
    transform: scale(1.2);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }

  .identity h1 {
    text-decoration: none;
    margin-right: 2vw; /* Reduzido ainda mais o espaço à direita */
  }

  footer {
    display: flex;
    flex-wrap: wrap; /* Adiciona quebra de linha quando o conteúdo não couber */
    width: 100%; /* Alterado para ocupar 100% da largura */
    height: auto; /* Altura automática */
    justify-content: space-between; /* Distribui os elementos */
  }

  footer img {
    width: 30px; /* Reduzindo ainda mais o tamanho da imagem */
    margin-right: 1px; /* Ajustando a margem */
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer p {
    margin-right: 5px; /* Reduzido ainda mais o espaçamento à direita */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
  }
}

/* Monitores de 1920x1080 */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .navbar a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .navbar-black {
    width: 97vw;
    display: flex;
    justify-content: center;
  }
  
  .navbar-black a {
    color: #000000;
    text-decoration: none;
  }
  
  .navbar-black h1 {
    font-size: 35px;
    font-weight: 700;
  }
  
  .identity {
    display: flex;
    align-items: center;
    margin-right: 2vw;
  }
  
  .navbar-black h2 {
    font-weight: 400;
  }
  
  .navbar {
    width: 97vw;
    display: flex;
    justify-content: center;
  }
  
  .navbar h1 {
    font-size: 35px;
    font-weight: 700;
  }
  
  .navbar h2 {
    font-weight: 400;
  }
  
  .content-nav {
    width: 92vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
  }
  
  .content-nav #login {
    width: 35px;
  }
  
  .content-nav #white-logo {
    width: 80px;
  }
  
  .logo-dash {
    display: flex;
    align-items: center;
  }
  
  #dash {
    margin-left: 10px;
    transition: 0.3s;
  }
  
  #dash:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .identity h1 {
    text-decoration: none;
  }
  
  .identity img {
    margin-left: 10px;
  }

  footer {
    display: flex;
    width: 98vw;
    height: 10vh;
    justify-content: space-between;
  }

  footer img {
    width: 140px;
    margin-right: 100px;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer p {
    margin-right: 100px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
  }
}
/* Estilos para laptops */
@media (min-width:1025px) {

  .main-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 97.5vw;
      height: 97vh;
  }

  .return {
      width: 8vw; 
      margin-right: 80vw; 
      font-size: 10px; 
      margin-top: 30px; 
  }

  .card {
      margin-top: 15px;
      height: 28.5vw; 
      width: 20.5vw; 
  }

  .title {
      margin-top: -12vh;
      font-size: 15px;
  }
}

/* Mobile*/
@media screen and (max-width:600px) and (min-height:511px) {  

  .main-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 97.5vw;
      height: 80vh;
  }

  .title {
      margin-top: -20.5vh;
      margin-left: 40px;
  }
  
  .title h1{
      font-size: 20px;
      font-weight: 400;
  }
  
  .return {
      width: 9vw; 
      margin-right: 80vw; 
      font-size: 8px; 
      margin-top: -70px; 
  }

  .card {
      height: 52.5vw; 
      width: 25.5vw; 
  }

  .text{
      width: 88%;
      transition: .3s;
  }
  
  .card-title h2{
      font-size: 24px;
      font-weight: 500;
      margin: 0;
  }
  
  .card-text p{
      font-size: 15px;
  }

  .see-more{
      transition: .3s;
      width: 88%;
  }
  
  .see-more p{
      color: #000000;
      font-size: 13px;
  }
 
}

/* Estilos para laptops */
@media (min-width:1025px) {

  .main-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 97.5vw;
      height: 97vh;
  }

  .return {
      width: 8vw; 
      margin-right: 80vw; 
      font-size: 10px; 
      margin-top: 30px; 
  }

  .card {
      margin-top: 15px;
      height: 28.5vw; 
      width: 20.5vw; 
  }

  .title {
      margin-top: -12vh;
      font-size: 15px;
  }
}

/* Mobile*/
@media screen and (max-width:600px) and (min-height:511px) {  

  .main-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 97.5vw;
      height: 80vh;
  }

  .title {
      margin-top: -20.5vh;
      margin-left: 40px;
  }
  
  .title h1{
      font-size: 20px;
      font-weight: 400;
  }
  
  .return {
      width: 9vw; 
      margin-right: 80vw; 
      font-size: 8px; 
      margin-top: -70px; 
  }

  .card {
      height: 52.5vw; 
      width: 25.5vw; 
  }

  .text{
      width: 88%;
      transition: .3s;
  }
  
  .card-title h2{
      font-size: 24px;
      font-weight: 500;
      margin: 0;
  }
  
  .card-text p{
      font-size: 15px;
  }

  .see-more{
      transition: .3s;
      width: 88%;
  }
  
  .see-more p{
      color: #000000;
      font-size: 13px;
  }
 
}

/*Para mobile*/
@media screen and (max-width: 600px) {
  .navbar a {
      font-family: 'Montserrat';
      color: #ffffff;
      text-decoration: none;
  }

  .navbar {
      opacity: 0;
      transition: .3s;
      background-color: #008040;
      width: 100%;
      height: 30px; /* Reduzindo ainda mais a altura */
      border-radius: 5px; /* Reduzindo o raio do border-radius */
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
  }

  .navbar:hover {
      opacity: 1;
  }

  .navbar h1 {
      font-size: 20px; /* Reduzindo ainda mais o tamanho do texto */
      font-family: 'Montserrat';
      font-weight: 600;
  }

  .navbar h2 {
      font-family: 'Montserrat';
      font-weight: 500;
  }

  .navbar:hover {
      opacity: 1;
  }

  .content-nav {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      
  }

  .content-nav #avatar {
      width: 20px;
  }

  .content-nav #white-logo {
      width: 30px; 
      padding-right: 20px;
  }

  #dash {
      margin-left: 1px;
      font-size: 12px;
  }

  .identity h1 {
      margin-right: 0.5vw; /* Ajustando a margem */
  }

  #dash:hover {
      transform: scale(1.2);
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
  }

  .identity h1 {
      text-decoration: none;
      margin-right: 2vw; /* Reduzido ainda mais o espaço à direita */
  }

  footer{
      display: none;
  }

  }

/* Estilos para laptops */
@media (min-width:1025px) {
  .navbar {
      opacity: 1;
      background-color: #008040;
      width: 97vw;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      color: #ffffff;
  }

  .navbar h1 {
      font-size: 20px;
      font-family: 'Montserrat';
      font-weight: 600;
  }

  .content-nav {
      width: 92vw;
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .content-nav #avatar {
      width: 20px;
  }

  .content-nav #white-logo {
      width: 40px;
  }


}
